@import "~@payloadcms/ui/scss";

.admin-bar {
  @include small-break {
    display: none;
  }
}

.btn{
      font-size: 1rem !important;
      font-family: "Barlow", sans-serif !important;
      padding: 10px 20px !important;
      background-color: var(--button) !important;
}